
.amc-grid > .imc-gallery__item.swiper-slide {
    padding-left: 0;
    padding-right: 0;
}
.swiper-slide {
    height: auto;
    box-sizing: border-box;
    padding-bottom: 6px;
}
.imc-gallery__item.swiper-slide {
    padding-bottom: 6px;
}
.swiper-container {
    overflow: hidden;
}
.swiper-pagination-bullet {
    opacity: 0.6;
}
.swiper-pagination-bullet-active {
    background: #000;
    opacity: 0.9
}
.swiper-navigation-disabled .swiper-button-next, .swiper-navigation-disabled .swiper-button-prev {
    display: block!important;
    visibility: visible!important;
    color: #272727;
    transform: scale(0.75);
}
.swiper-navigation-disabled .swiper-button-next.swiper-button-disabled, .swiper-navigation-disabled .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 5px;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 5px;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -30px
}
.hero-swiper .swiper-horizontal>.swiper-pagination-bullets, .hero-swiper .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 15px;
}
.hero-swiper .swiper-pagination-bullet {
    background: white;
}
.hero-swiper .swiper-pagination-bullet-active {
    background: white;
    opacity: 0.9
}
.hero-swiper .swiper-navigation-disabled .swiper-button-next, .hero-swiper .swiper-navigation-disabled .swiper-button-prev {
    color: white;
}
.amc-grid.amc-grid-border-radius>.imc-gallery__item>div:nth-child(2) {
    transform: translateY(calc(-100% + 6px))
}
.swiper-container .amc-grid.amc-grid-padded.imc-gallery--1-2.imc-gallery--1-2-mobile>.imc-gallery__item:nth-child(1) {
    max-width: 150px;
}
.swiper-container .amc-grid.amc-grid-padded.imc-gallery--1-2.imc-gallery--1-2-mobile>.imc-gallery__item:nth-child(2) {
    flex: 1;
    max-width: unset;
}